* {
  box-sizing: border-box;
  margin: 0;
}
body{
    background-color: #f5f5f5;
}
.container {
  width: 40%;
  margin: auto;
  position: relative;
  top: 3rem;
  z-index: 2;
}
.add {
  margin: 1.5rem;
  padding: 1.2rem;
  background-color: green;
  color: white;
  border: none;
}
.add:hover{
    cursor: pointer;
}
.hidden {
  display: none;
}
.question {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  width: 95%;
  border:1px solid black;

}
.actions {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  padding: 0 1.5rem;
}
#edit,
#delete {
  padding: 0.4rem;
  background-color: lightblue;
  border: 1px solid black;

}
#edit {
    background-color:#f5f5f5;
    color: black;
}
#delete{
    background-color: red;
    color: white;
}
#edit:hover, #delete:hover {
    cursor: pointer;
}

h3 {
  font-weight: 500;
  font-size: 1.2rem;
}
.createQ {
  position: fixed;
  top: 20%;
  left: 30%;
  background-color: white;
  width: 40%;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.header {
  color: white;
  background-color: blueviolet;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  padding: 0.6rem;
  margin-bottom: 2rem;
}
.form {
  margin-bottom: 2rem;
  padding: 0 2rem;
}
.form label {
  font-size: 1.2rem;
  font-weight: 500;
}
.form-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
  margin-right: 3rem;
  gap: 1rem;
}
.title input[type="text"] {
  margin-bottom: 1rem;
  gap: 1rem;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}
.input {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}
.input input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 13px;
}

.create,
.cancel {
  padding: 0.7rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
.create {
  background-color: green;
}
.cancel {
  background-color: red;
}
