<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quiz</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <script defer src="quiz.js"></script>
  </head>
  <body>
    <div id="start" style="display: none">Start Quiz!</div>

    <div id="quiz">
      <div id="question">QQQQQQQQ</div>
      <div id="choices">
        <div class="choice" id="A" onclick="checkAnswer('A')">AAAA</div>
        <div class="choice" id="B" onclick="checkAnswer('B')">BBBB</div>
        <div class="choice" id="C" onclick="checkAnswer('C')">CCCC</div>
        <div class="choice" id="D" onclick="checkAnswer('D')">DD</div>
      </div>
    </div>
    <!-- add progress-bar -->
    <div
      id="progress"
      style="
        width: 300px;
        height: 25px;
        background-color: white;
        border: 1px solid black;
        border-radius: 8px;
        box-sizing: border-box;
        margin-top: 80px;
        display: none;
      "
    >
      <div
        id="progress-bar"
        style="
          width: 0%;
          height: 100%;
          background-color: green;
          box-sizing: border-box;
          transition: 0.7s ease 0.3s;
          
          border-radius: 7px;
          text-align: center;
          
        "
      ></div>
    </div>
    <div id="scoreContainer" style="display: none"></div>
  </body>
</html>
