<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>edit</title>
    <link rel="stylesheet" href="../../css/edit.css" />
    <script defer src="edit.js"></script>
  </head>
  <body>
    <div class="container  ">
      <button class="add">Add Question</button>
      <div class="question-list  ">
        <div id="question" class="question">
          <h3>surprise</h3>
          <div class="actions">
            <div id="edit">edit</div>
            <div id="delete">delete</div>
          </div>
        </div>
      </div>
    </div>
    <div class="createQ " >
      <div class="header"><h3>Create new question</h3></div>
      <div class="form">
        <div class="title">
          <label for="text">Title</label><br>
          <input type="text" id="title" placeholder="Question title" required />
        </div>

        <label for="text">Answer</label>
        <div class="input">
          <input type="radio" id="A" name="answer" value="A" />
          <input type="text" id="choiceA" placeholder="Answer A" required />
        </div>
        <div class="input">
          <input type="radio" id="B" name="answer" value="B" />
          <input type="text" id="choiceB" placeholder="Answer B" required />
        </div>
        <div class="input">
          <input type="radio" id="C" name="answer" value="C" />
          <input type="text" id="choiceC" placeholder="Answer C" required />
        </div>
        <div class="input">
          <input type="radio" id="D" name="answer" value="D" />
          <input type="text" id="choiceD" placeholder="Answer D" required />
        </div>
      </div>
      <div class="form-action">
        <button class = "create">Create</button>
        <button class = "cancel">Cancel</button>
      </div>
    </div>
  </body>
</html>
